.blog {
    display: flex;
    flex-direction: column;
}

.heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-groupA  {
    flex: 0.75;
    margin-right: 2rem;
}
.container-groupB  {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

@media screen and (max-width:990px) {
    .container {
        flex-direction: column-reverse;
    }
    .container-groupA {
        margin: 2rem 0;
    }
    .container-groupA .container-article {
        width: 48%;
    }
    .container-groupA .article-image {
        height: 25%;
    }
}

@media screen and (max-width: 700px) {
    .container-groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-groupA .container-article  {
       width: 100%;
    }

    .heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}